<div id="content">

	<div class="container">
		
		
		<div class="row">
			
			<div class="span12">
				
				<div class="error-container">
					
					<h1>Oops!</h1>
					
					<h2>404 Not Found</h2>
					
					<div class="error-details">
						Sorry, an error has occured, Requested page not found!
						
					</div> <!-- /error-details -->
					
					<div class="error-actions">
						<a routerLink="/" class="btn btn-large btn-primary">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
							&nbsp;
							Back Home						
						</a>
						
						<a routerLink="/support" class="btn btn-large">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							&nbsp;
							Contact Support						
						</a>
						
					</div> <!-- /error-actions -->
					
				</div> <!-- /.error-container -->				
				
				
			</div> <!-- /.span12 -->
			
		</div> <!-- /.row -->		
		
	</div> <!-- /.container -->

</div> <!-- /#content -->

<firebase-ui></firebase-ui>
